body {
    margin: 0;
}

body * {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

.socialmedia {
    background-color: rgba(56, 152, 200, 1);
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    padding-top: 5px;
    padding-bottom: 3px;


}


.link {
    color: #3898C8;
}

header {
    background-color: #ffffff;
}


#logo {
    height: 56px;
    align-items: center;
}

header nav a {
    color: black;
}

.menu {
    height: 94px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 150px;

}

.menu a {
    text-decoration: none;
}

nav a {
    margin-left: 2px;
    margin-right: 8px;
    font-size: 15px;
    font-weight: 400;
    line-height: 56px;

}

nav svg {
    margin-right: 8px;
}

.menu div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 40px;
}

.inf {
    background: #3898C8;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;

}


.inf p{
    line-height:18px;
    padding:0;
}


.inf span,
.inf p {
    margin-left: 100px;
    margin-right: 100px;

}

.inf span {

    font-family: Lato;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 102px;

}

.inf p:first-of-type {
    margin-top: 10px;


}

.info p {
    margin-left: 100px;
    margin-right: 100px;
    padding:0;
    line-height:20px;
}

.info p:nth-of-type(5) {
    margin-top:20px;
    margin-bottom:20px;
}

.info p:first-of-type {
    margin-top: 25px;
}

.info p:last-of-type {
    padding-bottom: 25px;
}

.models {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 25px;
}

.forborder {
    padding-top: 31px;
    padding-bottom: 35px;
    margin-left: 310px;
    margin-right: 310px;
    border: 2px solid #3898C8;
}

.models span {

    color: #3898C8;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

}

.modellist {
    background-color: #ABB3C3;
}

.list {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.list p {
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    padding-top:10px;
    
    
}

.contacts{
    background-color: white;

}

.contacts p, .phone{
    margin-right:100px;
    margin-left:100px;
}


.phone{
    margin-bottom:10px; 
    color:#3898C8;
    display:flex;
    flex-wrap:wrap;
}


.phone:nth-of-type(3){
    margin-bottom:25px;
  }

  .phone:first-of-type{
    margin-top:10px;
  }

.moreinf{
    margin-top:25px;
    margin-bottom:10px;
}

.moreinf span{
    font-weight:bold;
    
}

.contacts a{
    text-decoration: none;
    color:#3898C8;
    padding:0;
}



footer {

    background: #37424A;
    justify-content: space-around;
  }
  
  
  .media span {
    color: white;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    width: 128px;
    height: 21px;
  }
  
  
  .media p {
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    color: white;
  }
  
  #mail {
    color: #3898C8;
    text-decoration: none;
    display:block;
    padding-top:10px;
  }
  
  .rafikova {
    padding-top: 31px;
    display: flex;
    justify-content: space-around;
  }
  
  .rafikova span, .rafikova p{
    padding-top:10px;
  }
  
  
  #creator {
    display: flex;
    padding-top: 25px;
    justify-content: center;
    color: white;
    padding-bottom: 4px;
  }

